.body {
  margin-top: 150px;
  margin-left: 500px;
  position: absolute;
}

.input {
  width: 100%;
  position: absolute;
}

.google {
  margin-top: 20px;
  float: left;

}
.bing {
  
  margin-top: 20px;
  float: right;
}
