.body {
  margin-top: 150px;
  margin-left: 500px;
  position: absolute;
}

.input {
  width: 100%;
  position: absolute;
}

.google {
  margin-top: 20px;
  float: left;

}
.bing {

  margin-top: 20px;
  float: right;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;

}
li {
  display:inline;
  float:right;

}
li a {
  display: block;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  color: black;
  
}
